---
name: PR Flow

on:
  pull_request:
    branches:
      - main
    paths:
      - .goreleaser.yml
      - cmd/**
      - flake.nix
      - go.mod
      - go.sum
      - main.go

jobs:
  lint:
    uses: ./.github/workflows/job-lint.yml
  test:
    uses: ./.github/workflows/job-test.yml
  nix-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Try to update nix flake
        run: ./.github/scripts/update-flake pr-${{ github.event.pull_request.number }}
      - name: Print changes
        run: git diff
